DATABASE_URL="******localhost:5432/kenya_admin?schema=public"
NEXT_PUBLIC_LAYOUT_DIRECTION="ltr"
AUTH_MODE="mock"
OBSERVABILITY_PROVIDER_ENABLED="false"
OBSERVABILITY_PROVIDER_DSN=""
OBSERVABILITY_RELEASE="local-dev"
